{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" href="" id="icon-moderno" style="background: black;">
    <link rel="apple-touch-icon" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.7.0/hint.min.css'>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link type="text/css" href="{% static 'blog/css/styles.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
<header class="bg-primary text-white text-center py-3 mb-4">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo-container" onmouseover="showFullLogo()" onmouseout="hideFullLogo()">
            <span id="logo-initials">PP</span>
            <div id="full-logo" class="d-none">
                <div id="python-text">
                    <span>P</span><span>y</span><span>t</span><span>h</span><span>o</span><span>n</span>
                </div>
                <span id="portal-text">Portal</span>
                <span id="snake" class="snake-hidden">🐍</span>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 Python Pathfinder. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>